@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Ownglyph_ryuttung-Rg';
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: #f9f9f9;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    width: 80px;
    background-color: skyblue;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.navbar ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.navbar a img {
    width: 100%;
    height: 100%;
}

.navbar img:hover {
    opacity: 0.5;
}

.container {
    margin-left: 100px;
    padding: 20px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
}

.header h3 {
    font-size: 1em;
    color: #333;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 5px 10px;
    background-color: skyblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
    font-size: 1.2em;
    color: #333;
}

.friends-count {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friend-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.friend-item:hover {
    background-color: #f1f1f1;
}
